#nav{
    background: #F6D7D8;
    padding-top: 30px;
    padding-bottom: 10px;
}
#nav img{
    width: 90px;
}
.logo h1{
    color: #D3A21F!important;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}
.menu ul li a{
    font-weight: 600;
    font-size: 16px;
    color: #D3A21F !important;
    padding: 0px 35px !important;
    border-radius: 5px;
    transition: 1s ease-in;
}
.menu ul li a:last-child{
    margin-right: 0px !important;
  }
.links li a:hover, .navbar-light .navbar-nav .nav-item.active .nav-link{
    color: #C12C32 !important;
  } 
 .mainNav__hover {
    position: relative;
  }
  .logo, .img-hover {
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  .logo:hover, .img-hover:hover {
    box-shadow: 0 .5rem 0.5rem rgba(0, 0, 0, .15);
    border-radius: 10px;
    transform: rotateY(30deg) translateY(10px) scaleX(1.1);
  }
  .mainNav__hover:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #D3A21F;
    transition: width 1s ease 0s, left 1s ease 0s;
    width: 0;
  }
  .mainNav__hover:hover:after {
    width: 100%;
    left: 0;
  }
  /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #nav {
        padding-bottom: 30px;
    }
    .navbar-nav {
        align-items: end;
        padding-right: 142px;
    }
    .menu ul li a{
        padding: 6px 7px !important;
    }
    .logo h1{
        font-size: 20px;
    }
}