.footer-area{
    background: #F1E6D4;
}

.footer-area li{
    padding-bottom: 10px;
    color: #475C57;
}
.footer-area h6{
    font-size: 20px;
    font-weight: 600;
    color: #105746 ;
}
.social-media .icon{
    height: 40px;
    width: 40px;
    color: #105746;
    border-radius: 50%;
    border: 1px solid #D3A21F;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #D3A21F ;
    color:white;
}