.process-card{
    padding: 0 5px;
}
.process-container{
    padding: 50px 30px;
    background-color: #E7CCA1;
    box-shadow: 0 .5rem 0.5rem rgba(0, 0, 0, .15);
    border-radius: 10px;
    
}
.process-icon{
    font-size: 3em;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}
.process-icon:hover{
    font-size: 4em;
    color: #F2B705;
    transform: rotateY(30deg) translateY(10px) scaleX(1.1);
}
.process-card h6{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-top: 1em;
}
.process-card p{
    color: #555555;
    font-weight: 400;
    font-size: 18px;
    padding-top: 1em;
}

@media(max-width: 770px) {
    .process-card{
        margin-bottom: 2em;
    }
}